#Scrollview_0 {
	left: 0px;
	right: 0px;
	top: 40px;
	bottom: 0px;
}
#lstNameInput .dvc-listitem-item-indexable {
	min-height: 45px;
}
#lstNameInput .dvc-listitem-item-indexable div[subid=lblName] {
	left: 10px;
	height: 45px;
	top: 0px;
	right: 10px;
	line-height: 45px;
}
#ComboHeader_0 {
	height: 45px;
	font-weight: bold;
	background-color: transparent;
}
#lblHeader {
	left: 9px;
	top: 13px;
	height: 20px;
	width: 66px;
}
#btnHOk {
	right: 10px;
	top: 7px;
	height: 32px;
	min-width: 40px;
}
#Button_0 {
	top: 9px;
	height: 32px;
	min-width: 50px;
	right: 70px;
}
#Button_1 {
	top: 8px;
	height: 32px;
	min-width: 50px;
	right: 10px;
}
#Label_0 {
	left: 80px;
	top: 13px;
	height: 20px;
	right: 116px;
}
#Label_1 {
	left: 16px;
	top: 14px;
	width: 97px;
	height: 20px;
}
#obj_2 {
	top: 2px;
}
#Label_2 {
	left: 13px;
	top: 13px;
	width: 66px;
	height: 20px;
}
#layvEmailSetting {
	height: 40px;
}
#Label_3 {
	left: 8px;
	top: 0px;
	width: 60px;
	bottom: 0px;
	line-height: 40px;
}
#layvBapgapSetting {
	height: 40px;
}
#Label_4 {
	left: 10px;
	top: 0px;
	bottom: 0px;
	line-height: 40px;
}
#Textfield_0 {
	left: 95px;
	top: 5px;
	height: 30px;
	right: 10px;
}
#Button_2 {
	top: 7px;
	height: 32px;
	min-width: 40px;
	right: 10px;
}
#Textfield_1 {
	left: 95px;
	top: 5px;
	height: 30px;
	right: 10px;
}
#Button_3 {
	top: 7px;
	height: 32px;
	right: 55px;
}
#lstNameSetting .dvc-listitem-item-indexable {
	min-height: 40px;
}
#Scrollview_1 {
	left: 1px;
	right: 0px;
	top: 122px;
	bottom: 0px;
}
#layvNameSetting {
	height: 40px;
}
#Button_4 {
	top: 4px;
	height: 32px;
	right: 10px;
}
#Label_5 {
	left: 11px;
	top: 12px;
	width: 100px;
	height: 20px;
}
#Textfield_2 {
	left: 118px;
	top: 5px;
	width: 136px;
	height: 30px;
}
#lstNameSetting .dvc-listitem-item-indexable div[subid=lblName] {
	top: 0px;
	bottom: 0px;
	right: 55px;
	line-height: 40px;
	left: 10px;
}
#btnInput {
	top: 9px;
	height: 32px;
	right: 130px;
	min-width: 50px;
}
#Label_7 {
	left: 113px;
	right: 113px;
	top: 13px;
	height: 20px;
}
#Button_6 {
	top: 7px;
	height: 32px;
	right: 55px;
}
#Button_5 {
	left: 10px;
	top: 7px;
	height: 32px;
	min-width: 60px;
}
#Button_7 {
	top: 7px;
	height: 32px;
	right: 10px;
	min-width: 60px;
}
#Label_8 {
	left: 109px;
	top: 14px;
	width: 100px;
	height: 20px;
}
#Layoutview_0 {
	height: 40px;
}
#Layoutview_1 {
	height: 140px;
}
#Layoutview_2 {
	height: 140px;
}
#pkrYear {
	height: 100%;
	width: 140px;
	position: relative;
	float: left;
}
#pkrMonth {
	height: 100%;
	width: 90px;
	position: relative;
	float: left;
}
#pkrDate {
	height: 100%;
	width: 90px;
	position: relative;
	float: left;
}
#lstNameSetting .dvc-listitem-item-indexable div[subid=btnDelete] {
	top: 6px;
	height: 29px;
	right: 10px;
}
#lstNameSetting .dvc-listitem-item-indexable div[subid=btnDelete].dvc-imagebutton-up {
	background-image: url('images/add.png');
}
#lstNameSetting .dvc-listitem-item-indexable div[subid=btnDelete].dvc-button-up .dvc-button-icon {
	content: url('images/delete.png');
}
#lstNameSetting .dvc-listitem-item-indexable div[subid=btnDelete].dvc-button-down .dvc-button-icon {
	content: url('images/delete.png');
}
#Button_4.dvc-button-up .dvc-button-icon {
	content: url('images/add.png');
}
#Button_4.dvc-button-down .dvc-button-icon {
	content: url('images/add.png');
}
#Label_1 .dvc-label-text {
	font-weight: normal;
	color: rgb(51, 102, 255);
}
#Label_9 {
	left: 12px;
	top: 11px;
	width: 93px;
	height: 20px;
}
#txfRealMoney {
	left: 126px;
	top: 5px;
	width: 101px;
	height: 30px;
}
#Scrollview_2 {
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
#lstMain .dvc-listitem-item-indexable {
	min-height: 60px;
}
#lstMain .dvc-listitem-item-indexable div[subid=lblDate] {
	left: 15px;
	top: 20px;
	height: 20px;
	right: 40px;
}
